<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Academic Advisor</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body class="inicio">
  <header class="bg-primary">
    <nav>
      <a href="home">
        <img src="../../static/core/img/LogoUST.png" alt="">
      </a>
      <div class="logo">USUARIO: Sebastian Cordero</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="alumnos" class="active">ALUMNOS</a></li>
        <li><a href="tus_reuniones">REUNIONES</a></li>
        <li><a href="docentes">DOCENTES</a></li>
        <li><a href="sedes">SEDES</a></li>
        <li><a href="../">CERRAR SESION</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container ini">
      <h1 class="init">CIUDAD
        <select class="slb" name="slb" id="slb">
          <option class="txto" value="">Ciudad</option>
          <option class="txto" value="">1</option>
          <option class="txto" value="">2</option>
          <option class="txto" value="">3</option>
          <option class="txto" value="">4</option>
        </select>

        <select class="slb" name="slb" id="slb">
          <option class="txto" value="">Año</option>
          <option class="txto" value="">2021</option>
          <option class="txto" value="">2022</option>
          <option class="txto" value="">2023</option>
          <option class="txto" value="">2024</option>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" id="icon" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
          <path
            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
        </svg>
      </h1>
      <a href="sede">
        <button type="button" class="btn btn-light" id="botonP">Santiago-2022</button>
      </a>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="{% static 'core/js/navbar.js' %}"></script>
</body>

</html>